html, body{

	height: 100%;
    color : white
		
}


		
header{
  	        height: 100%;
            background-image:  url('http://dupontcours.free.fr/IMG/dots.png'), url('#');
			background-repeat:   repeat, no-repeat;
			background-size:    auto, cover;
			background-position:   center center, top left;
			font-family: sans-serif;
			color: #051a00;
}


header video {
  position:fixed;
  top:50%;left:50%;min-width:100%;
  min-height:100%;
  width:auto;
  height:auto;
  z-index:-100;
  -webkit-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%);
}